In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
#NHCCPCTRL2

In [2]:

features_2017 = ['DIRECTORIO', 'DIRECTORIO_PER', 'NPCEP4']

In [3]:
no_asma_2017_df = pd.read_csv('./data/data_sin_asma/Datos_proyecto_II_BI_2017_sin_asma.csv', encoding="utf-8", sep = ',')

C:\Users\Esteban\AppData\Local\Temp\ipykernel_15768\1008009472.py:1: DtypeWarning: Columns (12,145,146,147,280,285,295,296,297,304,379,380,381,382,383,469,470,495,496,498,499,500,501,507,508,509,510,511,512,513) have mixed types. Specify dtype option on import or set low_memory=False.
  no_asma_2017_df = pd.read_csv('./data/data_sin_asma/Datos_proyecto_II_BI_2017_sin_asma.csv', encoding="utf-8", sep = ',')

In [4]:
asma_2017_df = pd.read_csv('./data/data_asma/Datos_proyecto_II_BI_2017.csv', encoding="utf-8", sep = ',')

C:\Users\Esteban\AppData\Local\Temp\ipykernel_15768\1698132705.py:1: DtypeWarning: Columns (145,295,297,380,381,383,469,495,496,499,500,501,508,509,510,511) have mixed types. Specify dtype option on import or set low_memory=False.
  asma_2017_df = pd.read_csv('./data/data_asma/Datos_proyecto_II_BI_2017.csv', encoding="utf-8", sep = ',')

In [5]:
no_asma_2021_df = pd.read_csv('./data/data_sin_asma/Datos_proyecto_II_BI_2021_sin_asma.csv', sep = ',', encoding='latin1')

C:\Users\Esteban\AppData\Local\Temp\ipykernel_15768\3873647657.py:1: DtypeWarning: Columns (8,10,334,408,409,410,412,538,540,541,543,545,549,552,553,554,555,556,557) have mixed types. Specify dtype option on import or set low_memory=False.
  no_asma_2021_df = pd.read_csv('./data/data_sin_asma/Datos_proyecto_II_BI_2021_sin_asma.csv', sep = ',', encoding='latin1')

In [6]:
asma_2021_df = pd.read_csv('./data/data_asma/Datos_proyecto_II_BI_2021.csv', sep = ',', encoding='latin1')

C:\Users\Esteban\AppData\Local\Temp\ipykernel_15768\2157790421.py:1: DtypeWarning: Columns (334,410,412,540,541,543,545,549,552,553,554,555,556,557) have mixed types. Specify dtype option on import or set low_memory=False.
  asma_2021_df = pd.read_csv('./data/data_asma/Datos_proyecto_II_BI_2021.csv', sep = ',', encoding='latin1')

In [7]:
asma_2017_df[features_2017].head(10)

   DIRECTORIO  DIRECTORIO_PER  NPCEP4
0      101033        10103311      39
1      101041        10104112      22
2      101042        10104213      29
3      101047        10104713      11
4      101059        10105914      37
5      101059        10105915      86
6      101063        10106311      65
7      101089        10108911      52
8      101089        10108914      15
9      101142        10114221      26

In [9]:
provisional_2017 = pd.concat([asma_2017_df[features_2017], no_asma_2017_df[features_2017]], ignore_index=True)

In [10]:
provisional_2021 = pd.concat([asma_2021_df[features_2017], no_asma_2021_df[features_2017]], ignore_index=True)

In [11]:
(provisional_2017[features_2017].isnull().sum() / provisional_2017[features_2017].shape[0]).sort_values(ascending = False)

DIRECTORIO        0.0
DIRECTORIO_PER    0.0
NPCEP4            0.0
dtype: float64

In [12]:
(provisional_2021[features_2017].isnull().sum() / provisional_2021[features_2017].shape[0]).sort_values(ascending = False)

DIRECTORIO        0.0
DIRECTORIO_PER    0.0
NPCEP4            0.0
dtype: float64

In [13]:
unificado = pd.concat([provisional_2017[features_2017], provisional_2021[features_2017]], ignore_index=True)

In [14]:
unificado.head(10)

   DIRECTORIO  DIRECTORIO_PER  NPCEP4
0    101033.0        10103311      39
1    101041.0        10104112      22
2    101042.0        10104213      29
3    101047.0        10104713      11
4    101059.0        10105914      37
5    101059.0        10105915      86
6    101063.0        10106311      65
7    101089.0        10108911      52
8    101089.0        10108914      15
9    101142.0        10114221      26

In [26]:
# Renombrar las columnas
nuevos_nombres = {'DIRECTORIO': 'id_vivienda', 'DIRECTORIO_PER': 'id_persona', 
         'NPCEP4': 'edad' }
unificado = unificado.rename(columns=nuevos_nombres)

In [27]:
edades = []

for value in unificado['edad']:
    if value not in edades:
        edades.append(value)




edades = sorted(edades)
print(edades)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108]

In [28]:
#Dimensi√≥n edad
df_edad = pd.DataFrame({'edad': edades})

df_edad['id_edad'] = range(1, len(df_edad) + 1)
df_edad.head(10)

   edad  id_edad
0     0        1
1     1        2
2     2        3
3     3        4
4     4        5
5     5        6
6     6        7
7     7        8
8     8        9
9     9       10

In [29]:
unificado = pd.merge(unificado, df_edad[['edad', 'id_edad']], on='edad', how='left')

In [30]:
unificado.head(10)

   id_vivienda  id_persona  edad  id_edad
0     101033.0    10103311    39       40
1     101041.0    10104112    22       23
2     101042.0    10104213    29       30
3     101047.0    10104713    11       12
4     101059.0    10105914    37       38
5     101059.0    10105915    86       87
6     101063.0    10106311    65       66
7     101089.0    10108911    52       53
8     101089.0    10108914    15       16
9     101142.0    10114221    26       27